# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Debug folder (i think its uneccessary
Debug/*

# Project Properties, so every platform can keep its own toolchain
.cproject
# don't know why this appears only on the mac
.settings/*
# makefile is affected by toolchain as well
Debug/makefile
